*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: white;
    height: 50px;
    cursor: pointer;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
}