*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: white;
    height: 50px;
    cursor: pointer;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
ul li{
    padding: 5px 10px;
}
ul li:hover{
    background-color: #555;
    border-radius: 5px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
input{
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
}
.names{
    margin-top: 50px;
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
